<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar.ejs')%>

<ul>
    <% for(let item of user.cart){ %>
        <li><%=item.name%> gives <%=item.price%></li>
    <% } %>
</ul>
</body>
</html>